@import url("../font.css");
/* Style de la page principale */
body {
  font-family: "LemonMilk-Pro", sans-serif;
  width: 761px;
  height: 824px;
  background-image: url("../../images/background.png");
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-drag: none;
  user-select: none;
}

/* Style de la barre de progression, et du texte */

.empty-progress {
  position: absolute;
  top: 670px;
  left: 154px;
  width: 449px;
  height: 28px;
  /* Image de fond */
  background-image: url("../../images/elements/bar/empty.png");
  background-size: cover;
}

.progress-text {
  position: absolute;
  top: 670px;
  left: 154px;
  width: 449px;
  height: 28px;
  /* Style du texte */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  letter-spacing: 0.5px;
}

.progress {
  position: absolute;
  top: 670px;
  left: 154px;
  width: 0px;
  height: 28px;
  /* Image de fond */
  background-image: url("../../images/elements/bar/full.png");
}

/* Style du texte */
.register {
  position: absolute;
  top: 615px;
  text-align: center;
  color: #333333;
  width: auto;
  font-size: 14px;
  cursor: pointer;
}

/* Ajoute le soulignement au survol */
.register:hover {
  text-decoration: underline; /* Souligne le texte au survol */
  cursor: pointer;
}

.register.disabled {
  pointer-events: none;
  text-decoration: none;
}

/* Style du bouton de fermeture */
.close {
  position: absolute;
  z-index: 9999;
  top: 113px;
  left: 637px;
  width: 51px;
  height: 54px;
  cursor: pointer;
  background-image: url("../../images/elements/buttons/quit.png");
  background-position: 0 0;
}

.close:hover {
  background-position: 0 -54px;
}

/* Style du bouton de connexion */
.play {
  position: absolute;
  top: 550px;
  left: 249px;
  width: 260px;
  height: 60px;
  cursor: pointer;
  background-image: url("../../images/elements/buttons/play.png");
  background-position: 0 0px;
}

.play:hover {
  background-position: 0 -60px;
}

.play.disabled {
  pointer-events: none;
  background-position: 0 -60px;
}

/* Style du bouton des options */
.settings {
  position: absolute;
  top: 555px;
  left: 513px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url("../../images/elements/buttons/settings.png");
  background-position: 0 0px;
}

.settings:hover {
  background-position: 0 -50px;
}

.settings.disabled {
  pointer-events: none;
  background-position: 0 -50px;
}

/* Style du field "Nom d'utilisateur", et "Mot de passe" */
.username,
.password {
  position: absolute;
  width: 417px;
  height: 72px;
  background-image: url("../../images/elements/text_field.png");
}

.username input,
.password input {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none;
  font-size: 23px;
  font-family: "LemonMilk-Pro";
  -webkit-text-security: none;
}

.username input.disabled,
.password input.disabled {
  pointer-events: none;
}

.password input:valid {
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 30px;
}

.username input:focus::placeholder,
.password input:focus::placeholder {
  opacity: 0;
}

/* Position de la zone de texte "Nom d'utilisateur" */
.username {
  top: 275px;
  left: 171px;
}

/* Position de la zone de texte "Mot de passe" */
.password {
  top: 365px;
  left: 171px;
}

/* Activer ou désactiver la possibilitée de drag */
.drag {
  pointer-events: none;
  -webkit-app-region: drag;
}

.no-drag {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
